$background-black: #000000;
$aside-black: #111111;
$header-black: #222222;
$line-black: #333333;

$text-blue: #58a6ff;
$chip-purple: #8987f9;
$white: #ffffff;
$gray: #777777;
$light-gray: #cccccc;
$red: #cc3333;
