$background-black: #020408;
$aside-black: #0d1117;
$header-black: #020408;
$line-black: #333333;

$text-blue: #58a6ff;
$chip-purple: #8987f9;
$white: #ffffff;
$gray: #777777;
$light-gray: #cccccc;
$red: #cc3333;
$count-gray: #bfbfbf;
$unposted-black: #444444;
$light-blue: #d5e8fc;
$input-blue: #9fb1c7;
$input-black: #0d1117;
$dark-blue: #1f6feb;
$dark-gray: #555555;
$platinum: #e5e4e2;
$gold: #ffd700;
$silver: #c0c0c0;
$bronze: #cd7f32;
$number-green: #6cd064;
$light-silver: #dddddd;
$point-blue: #4596f2;
$card-black: #222222;
$delete-black: #21262d;
$border-gray: #363b42;
$purple: #7878ff;
$point-gray: #303641;
$up-red-bg: #ffe5d7;
$down-blue-bg: #c8e2ff;
$up-red: #f4221f;
$down-blue: #0000ff;
$ligter-gray: #c9d1d9;
