$background-black: #000000;
$aside-black: #111111;
$header-black: #222222;
$line-black: #333333;

$text-blue: #58a6ff;
$chip-purple: #8987f9;
$white: #ffffff;
$gray: #777777;
$light-gray: #cccccc;
$red: #cc3333;
$count-gray: #BFBFBF;
$unposted-black: #444444;
$light-blue: #D5E8FC;
$input-blue: #9FB1C7;
$input-black: #0D1117;
$dark-blue: #1F6FEB;