@import '@/assets/scss/color.scss';

.add-charge-modal-container {
  .add-charge-modal-header {
    margin: 0 10px;

    .title-text {
      margin: 15px 5px 30px 5px;
      font-size: 17px;
      font-weight: 600;
    }
  }

  .add-charge-modal-body {
    margin: 0 15px;

    .content-box {
      margin-bottom: 15px;

      .dollar-option-box {
        display: flex;
        justify-content: space-between;
        width: 490px;
        margin: 0 50px;

        .dollar-btn {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 75px;
          font-size: 14px;
          font-weight: 600;
          color: $light-gray;
          padding: 6px 0;
          border: 1px solid $white;
          border-radius: 4px;
          background: $delete-black;
          cursor: pointer;

          &.active {
            background: $text-blue;
            color: $white;
          }
        }
      }

      .amount-input {
        width: 490px;
        height: 34px;
        box-sizing: border-box;
        background: $delete-black;
        border: 1px solid $white;
        border-radius: 4px;
        padding: 3px 10px;
        margin: 0 50px;
        font-size: 15px;
        color: $white;
      }

      .charge-btn {
        width: 490px;
        margin: 0 50px 5px 50px;
        padding: 4px 0;
        border: 4px solid $text-blue;
        border-radius: 4px;
        background: $text-blue;
        font-size: 16px;
        font-weight: 600;
        color: $transparent-white;
        text-align: center;
        cursor: pointer;
      }
    }
  }
}
