@import '@/assets/scss/color.scss';

.repository-box-container {
    box-sizing: border-box;
    height: 155px;
    margin: 10px 5px;
    border-radius: 10px;
    background: $header-black;
    cursor: pointer;

    .repository-box-header {
        display: flex;
        
        .box-header-section {
            margin: 10px 10px 5px;
            display: flex;
            font-size: 16px;

            .profile-img {
                width: 30px;
                height: 30px;
                border-radius: 30px;
                background: $white;
                margin-right: 10px;
            }
    
            .repository-name-text {
                display: flex;
                font-weight: 600;
                color: $text-blue;
    
                .text-slash {
                    margin: 0px 5px;
                }
            }
        }

    }

    .repository-box-body {

        .repository-description {
            margin: 5px 10px;
            font-size: 15px;
            color: $gray;
        }
    }

    .repository-box-footer {
        display: flex;
        flex-direction: column;

        .tag-chip-group {
            display: flex;
            margin: 2px 8px;
            flex-wrap: wrap;
        }

        .repository-info-line {
            display: flex;
            margin: 5px 10px 15px;
            font-size: 12px;
            color: $gray;

            .repository-info-section {
                display: flex;
                align-items: center;

                .language-circle {
                    width: 10px;
                    height: 10px;
                    border-radius: 10px;
                    border: 1px solid $gray;
                    margin-right: 3px;
                    background: $text-blue;
                }
            }

            .text-slash {
                margin: 0 10px;
            }
        }
    }
}