@import '@/assets/scss/color.scss';

.selection-repository-container {
    display: flex;
    justify-content: space-between;
    background: $header-black;
    border-radius: 10px;
    margin: 15px;
    padding: 15px 15px;

    .selection-repository-section {
        display: flex;
        align-items: center;

        .repository-img {
            width: 30px;
            height: 30px;
            background: $white;
            border-radius: 30px;
            margin-right: 15px;
        }

        .repository-description {
            
            .repository-title {
                color: $text-blue;
                font-size: 13px;

            }

            .repository-info {
                display: flex;
                color: $gray;
                font-size: 10px;

                .fork-info {
                    margin-right: 5px;
                }
            }
        }

        .creation-day {
            color: $gray;
            font-size: 11px;
            margin-right: 15px;
        }

         .isposted-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 70px;
            height: 30px;
            border-radius: 5px;
            font-size: 12px;
            margin-right: 15px;
            cursor: pointer;
            
            &.posted {
                background: $text-blue;
             }

             &.unposted {
                color: $red;
                background: $unposted-black;
             }
         }

         .next-stage-arrow {
            cursor: pointer;
         }
    }
}