@import '@/assets/scss/color.scss';

.user-card-container {
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 70px;
    margin: 10px 5px;
    border-radius: 10px;
    background: $card-black;
    cursor: pointer;

    .profile-img {
        width: 40px;
        height: 40px;
        border-radius: 50px;
        background: $white;
        margin: 0 15px 0 10px;
    }

    .profile-text {
        display: flex;
        font-size: 18px;
        font-weight: 500;
        color: $text-blue;

        .text-slash {
            margin: 0px 5px;
        }
    }

    .github-user-link {
        position: absolute;
        right: 15px;
        border: 1px solid $gray;
        border-radius: 5px;
        padding: 5px 15px;
        font-size: 11px;
        color: $light-gray;
        background-color: $line-black;
    }
}
