@import '@/assets/scss/color.scss';

/* Main Page Common */
.main-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Search Bar Section */
.search-bar-section-container {
    margin: 30px 0;
    font-size: 20px;

    .search-bar-container {
        display: flex;
        align-items: center;
        border: 2px solid $white;
        border-radius: 20px;
        box-sizing: border-box;
        height: 40px;
        padding: 0 10px;
        background: $header-black;

        .search-bar-input {
            background: none;
            border: none;
            outline: none;
            font-size: 16px;
            color: $white;
            margin: 0 10px;
            width: 350px;

            &::placeholder {
                text-align: center;
            }
        }

        .search-submit-btn {
            background: none;
            border: none;
            font-size: 20px;
            padding: 0;
            color: $white;
            cursor: pointer;
        }
    }
}

/* Carousel Section */
.carousel-section-container {
    width: calc(100vw - 600px);
    height: calc((100vw - 600px) * 0.18);
    z-index: 0;

    .carousel-slide-img {
        width: calc(100vw - 600px);
        height: calc((100vw - 600px) * 0.18);
    }
}

/* Content Section */
.content-section-container {
    display: flex;
    flex-direction: column;
    padding: 10px 0 80px;

    .main-content-box {
        margin: 10px 20px;

        .content-title-text {
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 5px;
        }
    }
}

/* Repository Card List */

.repository-card-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100vw - 630px);
    overflow: hidden;

    .pagination-btn {
        font-size: 24px;
        font-weight: 700;
        cursor: pointer;

        &.disabled {
            color: $dark-gray;
        }
    }

    .card-group-container {
        position: relative;
        display: flex;
        justify-content: left;
        width: 100%;
        height: 210px;

        &.empty {
            justify-content: center;
            align-items: center;
            font-size: 18px;
            color: $gray;
        }

        .loading-spinner-box {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(0, 0, 0, 0.5);
            width: 100%;
            height: 210px;
            border-radius: 10px;

            .loading-spinner {
                width: 50px;
                height: 50px;
            }
        }
    }
}
