@import '@/assets/scss/color.scss';

/* Point Page Common */
.point-page-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Point Summary Section */
.point-summary-section-container {
    margin: 30px 0;

    .point-summary-section-header {
        display: flex;
        justify-content: space-between;
        margin: 10px;

        .header-title {
            font-size: 25px;
            font-weight: 600;
        }

        .charge-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 120px;
            height: 30px;
            background: $red;
            color: $white;
            font-size: 14px;
            border: 1px solid $border-gray;
            border-radius: 6px;
            cursor: pointer;
        }
    }

    .point-summary-section-body {
        .summary-box {
            display: flex;
            justify-content: space-around;
            margin-left: 5px;

            .sponsor-summary-box {
                cursor: pointer;
            }
        }
    }
}

/* Point History Section*/
.point-history-section-container {
    .point-history-section-header {
        display: flex;
        justify-content: space-between;
        margin: 15px 10px 5px 10px;

        .header-title {
            font-size: 25px;
            font-weight: 600;
        }

        .option-btn-box {
            display: flex;
            font-size: 14px;

            .spent-btn {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 80px;
                height: 30px;
                background: $delete-black;
                border: 1px solid $border-gray;
                border-radius: 6px;
                margin-right: 10px;
                cursor: pointer;

                &.active {
                    color: $white;
                    background: $text-blue;
                }
            }

            .earned-btn {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 80px;
                height: 30px;
                background: $delete-black;
                border: 1px solid $border-gray;
                border-radius: 6px;
                cursor: pointer;

                &.active {
                    color: $white;
                    background: $text-blue;
                }
            }
        }
    }

    .point-history-section-body {
        .spent-point-list-section-container {
            .spent-point-list-section-header {
                display: flex;
                width: 100%;
                padding: 10px 0;
                font-size: 12px;
                color: $light-gray;

                .date-title {
                    width: 15%;
                    margin-left: 20px;

                    .date-text {
                        display: flex;
                        justify-content: center;
                        width: 75%;
                    }
                }

                .point-title {
                    display: flex;
                    justify-content: center;
                    width: 20%;
                }

                .info-title {
                    display: flex;
                    justify-content: center;
                    width: 50%;
                }

                .status-title {
                    display: flex;
                    justify-content: center;
                    width: 15%;
                }
            }

            .spent-point-list-section-footer {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 15px 0;

                .show-more-btn {
                    color: $text-blue;
                    cursor: pointer;
                    font-weight: 300;
                    font-size: 14px;
                }
            }
        }

        .earned-point-list-section-container {
            .earned-point-list-section-header {
                display: flex;
                width: 100%;
                padding: 10px 0;
                font-size: 12px;
                color: $light-gray;

                .date-title {
                    width: 15%;
                    margin-left: 20px;

                    .date-text {
                        display: flex;
                        justify-content: center;
                        width: 75%;
                    }
                }

                .point-title {
                    display: flex;
                    justify-content: center;
                    width: 20%;
                }

                .method-title {
                    display: flex;
                    justify-content: center;
                    width: 50%;
                }

                .status-title {
                    display: flex;
                    justify-content: center;
                    width: 15%;
                }
            }

            .earned-point-list-section-footer {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 15px 0;

                .show-more-btn {
                    color: $text-blue;
                    cursor: pointer;
                    font-weight: 300;
                    font-size: 14px;
                }
            }
        }
    }

    .spinner-img {
        width: 30px;
        height: 30px;
    }
}

/* Point Summary Box */
.point-summary-box-container {
    display: flex;
    flex-direction: column;
    background: $point-gray;
    min-width: 100px;
    margin-right: 5px;

    .title-section {
        display: flex;
        margin: 15px;

        .logo-img {
            .github-logo-img {
                width: 45px;
                height: 45px;
            }

            .paypal-logo-img {
                width: 45px;
                height: 45px;
            }

            .ads-icon {
                width: 45px;
                height: 45px;
            }

            .sponsor-icon {
                width: 45px;
                height: 45px;
            }
        }

        .type-box {
            margin: 0 50px 0 10px;
            .point-types {
                font-size: 18px;
                font-weight: 600;

                &.Github {
                    color: $text-blue;
                }

                &.Paypal,
                &.Ads,
                &.Sponsor {
                    color: $number-green;
                }
            }

            .type-description {
                font-size: 11px;
            }
        }
    }

    .profit-rate-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 5px 15px 15px 15px;

        .left-box {
            .points-text {
                font-size: 20px;
                font-weight: 800;
                margin-bottom: 3px;
            }

            .last-month-text {
                font-size: 14px;
                font-weight: 300;
                color: $count-gray;
            }
        }

        .right-box {
            .profit-rate-box {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5px 10px;
                border-radius: 15px;
                font-size: 12px;
                font-weight: 700;

                &.up {
                    background: $up-red-bg;
                    color: $up-red;
                }

                &.down {
                    background: $down-blue-bg;
                    color: $down-blue;
                }

                &.unchanged {
                    background: $gray;
                }
            }
        }
    }
}

/* Earned Point Box */
.earned-point-box-container {
    display: flex;
    background: $header-black;
    align-items: center;
    padding: 10px 0;
    width: 100%;
    height: 50px;
    border-top: 1px solid $border-gray;

    .date-box {
        width: 15%;
        font-size: 13px;
        font-weight: 500;
        margin-left: 20px;
        color: $lighter-gray;
    }

    .points-box {
        display: flex;
        justify-content: center;
        width: 20%;
        font-size: 17px;
        font-weight: 600;
        color: $purple;
    }

    .method-box {
        display: flex;
        justify-content: center;
        width: 50%;
        font-size: 13px;
        font-weight: 500;
        color: $lighter-gray;
    }

    .status-box {
        display: flex;
        justify-content: center;
        width: 15%;
        font-size: 15px;
        font-weight: 500;

        &.Completed {
            color: $number-green;
        }

        &.PROGRESS {
            color: $text-blue;
        }
    }
}

/* Spent Point Box */
.spent-point-box-container {
    display: flex;
    background: $header-black;
    align-items: center;
    padding: 10px 0;
    width: 100%;
    height: 50px;
    border-top: 1px solid $border-gray;

    .date-box {
        width: 15%;
        font-size: 13px;
        font-weight: 500;
        margin-left: 20px;
        color: $lighter-gray;
    }

    .points-box {
        display: flex;
        justify-content: center;
        width: 20%;
        font-size: 17px;
        font-weight: 600;
        color: $red;
    }

    .info-box {
        display: flex;
        justify-content: center;
        width: 50%;
        font-size: 13px;
        font-weight: 500;
        color: $lighter-gray;
    }

    .status-box {
        display: flex;
        justify-content: center;
        width: 15%;
        font-size: 15px;
        font-weight: 500;

        &.Completed {
            color: $number-green;
        }

        &.PROGRESS {
            color: $text-blue;
        }
    }
}

/* Charge Modal */
.charge-modal-container {
    .charge-modal-header {
        margin: 0 10px;

        .title-text {
            margin: 15px 5px 30px 5px;
            font-size: 17px;
            font-weight: 600;
        }
    }

    .charge-modal-body {
        margin: 0 15px;

        .content-box {
            margin-bottom: 15px;

            .dollar-option-box {
                display: flex;
                justify-content: space-between;
                width: 490px;
                margin: 0 50px;

                .dollar-btn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 75px;
                    font-size: 14px;
                    font-weight: 600;
                    color: $light-gray;
                    padding: 6px 0;
                    border: 1px solid $white;
                    border-radius: 4px;
                    background: $delete-black;
                    cursor: pointer;

                    &.active {
                        background: $text-blue;
                        color: $white;
                    }
                }
            }

            .amount-input {
                width: 490px;
                height: 34px;
                box-sizing: border-box;
                background: $delete-black;
                border: 1px solid $white;
                border-radius: 4px;
                padding: 3px 10px;
                margin: 0 50px;
                font-size: 15px;
                color: $white;
            }

            .charge-btn {
                display: flex;
                justify-content: center;
                align-items: center;

                width: 490px;
                margin: 0 50px 5px 50px;
                padding: 4px 0;
                border: 4px solid $text-blue;
                border-radius: 4px;
                background: $text-blue;
                font-size: 16px;
                font-weight: 600;
                color: $transparent-white;
                text-align: center;
                cursor: pointer;
            }
        }
    }

    .spinner-img {
        width: 20px;
        height: 20px;
    }
}

/* Withdraw Cash Modal */
.withdraw-cash-modal-container {
    .withdraw-cash-modal-header {
        margin: 0 10px;

        .title-text {
            margin: 15px 5px 10px 5px;
            font-size: 17px;
            font-weight: 600;
        }

        .description-text {
            margin: 0 5px 15px 5px;
            font-size: 13px;
            color: $light-gray;
        }
    }

    .withdraw-cash-modal-body {
        margin: 0 15px;

        .content-box {
            margin-bottom: 15px;

            .points-option-box {
                display: flex;
                justify-content: space-between;
                width: 490px;
                margin: 0 50px;

                .points-btn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 75px;
                    font-size: 14px;
                    font-weight: 600;
                    color: $light-gray;
                    padding: 6px 0;
                    border: 1px solid $white;
                    border-radius: 4px;
                    background: $delete-black;
                    cursor: pointer;

                    &.active {
                        background: $text-blue;
                        color: $white;
                    }
                }
            }

            .amount-input {
                width: 490px;
                height: 34px;
                box-sizing: border-box;
                background: $delete-black;
                border: 1px solid $white;
                border-radius: 4px;
                padding: 3px 10px;
                margin: 0 50px;
                font-size: 15px;
                color: $white;
            }

            .select-account-btn {
                position: relative;
                display: flex;
                width: 490px;
                height: 34px;
                box-sizing: border-box;
                background: $delete-black;
                border: 1px solid $white;
                border-radius: 4px;
                line-height: 32px;
                padding: 0 10px;
                margin: 0 50px;
                font-size: 14px;
                color: $placeholder-gray;
                cursor: pointer;

                .arrow-btn {
                    position: absolute;
                    top: 0;
                    right: 10px;
                    color: $white;
                }

                .option-box {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: 100%;
                    box-sizing: border-box;
                    border: 1px solid $white;
                    border-radius: 4px;
                    z-index: 100;

                    .option {
                        width: 100%;
                        height: 34px;
                        background: $delete-black;
                        box-sizing: border-box;
                        border-bottom: 1px solid $dark-gray;
                        line-height: 32px;
                        padding: 0 10px;
                        font-size: 14px;
                        color: $placeholder-gray;
                        cursor: pointer;

                        &:first-child {
                            border-radius: 4px 4px 0 0;
                        }

                        &:last-child {
                            border-radius: 0 0 4px 4px;
                        }
                    }
                }
            }

            .charge-btn {
                width: 490px;
                margin: 0 50px 5px 50px;
                padding: 4px 0;
                border: 4px solid $text-blue;
                border-radius: 4px;
                background: $text-blue;
                font-size: 16px;
                font-weight: 600;
                color: $transparent-white;
                text-align: center;
                cursor: pointer;
            }
        }
    }
}
