@import '@/assets/scss/color.scss';

/* Profile Page Common */
.profile-page-container {
    padding-top: 60px;
    width: 100vw;
}

/* Profile Info Section */
.profile-info-section-container {
    display: flex;
    margin: 20px;
    border-bottom: 1px solid $line-black;

    .content-box {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 60px;
        padding-top: 20px;
        padding-bottom: 20px;

        &:nth-child(1) {
            width: 250px;
        }

        .content-title {
            position: absolute;
            top: 0;
            left: 0;
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 10px;
        }

        .github-calendar-container {
            display: flex;
            margin-top: 50px;

            .github-calendar {
                border-radius: 6px;
                border: 1px solid $line-black;
                padding: 40px 45px;
                margin-bottom: 30px;
                height: 197px;
                box-sizing: border-box;
            }

            .year-btn-box {
                margin-left: 25px;
                font-size: 11px;

                .year-btn {
                    border-radius: 5px;
                    width: 120px;
                    color: $gray;
                    padding: 10px 20px 10px 10px;
                    margin: 0 5px 5px 5px;
                    cursor: pointer;

                    &.active {
                        background: $dark-blue;
                        color: $white;
                    }
                }
            }
        }
    }
}

/* Content Section */
.profile-content-section-container {
    display: flex;
    flex-direction: column;
    margin: 20px;

    .profile-content-box {
        padding-bottom: 25px;
        border-bottom: 1px solid $line-black;

        &:last-child {
            padding-top: 20px;
            border: none;
        }

        .content-title-text {
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 10px;
        }

        .card-group-container {
            display: flex;
            justify-content: space-around;
            width: 100%;
        }
    }
}
